<div class="container_row">
	<div class="b_l">
		<div class="b_head">
			<span class="b_head_i"></span>
			<span class="b_head_t">
				<%= link_to vocaloid_path, class: "link" do%>... <%end%>
			</span>
			<div class="pmt_list">
				<div class="pmt_link">

				</div>
			</div>
		</div>
	</div>

</div>
